doctype html
html
	head
		title Upcoming Events

		link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		link(href="bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet")
		link(href="dest/css/main.css" rel="stylesheet")
	
	body
		
		nav(class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation")
			.search
				form
					.form-group
						input(type="text" data-bind="attr: {placeholder: placeholderText}, value: cityName" name="search" class="form-control")
					button(type="submit" data-bind="text : searchBtnText, enable: searchBtnEnable, event: {click: findEvents}" class="btn btn-default")

					button(type="submit" data-bind="enable: prevBtnEnable, event: {click: prevEvents}" class="btn btn-default") Prev
					button(type="submit" data-bind="enable: nextBtnEnable, event: {click: nextEvents}" class="btn btn-default") Next

			div(data-bind="foreach: events" class="list-group events")
				a(class="list-group-item")
					span(data-bind="if: logo" class="img-wrap")
						img(data-bind="attr: {src: logo.url}")
					p(data-bind="text: name.text")

		.container
			.map-container
				#map.map(data-bind="googlemap: { locations: events, centerLat: 41.48, centerLon: -81.67 }")


		script(data-main="app/js/config" src="bower_components/requirejs/require.js")
		script(src="//localhost:35729/livereload.js")