.search {
	padding: 20px 15px;
}

.events {
	a {
		min-height: 50px;
	}
	.img-wrap {
		float: left;
		overflow: hidden;
		img {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin-right: 15px;
		}
	}
}